.main-container {
  &__header {
    background: #71AB4F;
    height: 13vh;
    width: 100%;

    &__content {
      padding-top: 16px;
      padding-left: 16px;
      color: white;

      &__dashboard {
        align-items: center;
        display: flex;
      }

      &__img {
        margin-right: 2vw;
        height: 20px;
        width: 20px;
      }

      &__title {
        font-weight: bold;
        font-size: 36px;
      }
    }
  }

  &__body {
    margin-top: 24px;
    padding: 12px;
  }
}
